{
  "extends": [
    "next",
    "eslint:recommended"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "no-empty": "off",
    "no-undef": "off",
    "react/display-name": "off",
    "import/no-anonymous-default-export": "off"
    // "jsx-a11y/alt-text": "off",
    // "react/jsx-no-target-blank": "off",
  },
  "overrides": [
    {
      "files": [
        "*.d.ts"
      ],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}